<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <title>{{ Title }}</title>
</head>
<body class="bg-primary text-white">
<h1 class="bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent text-4xl font-bold">
    {{ Title }}
</h1>
<p class="mt-4">{{ Message }}</p>

{{#if ShowItems}}
<h2 class="mt-8 text-2xl font-semibold">Features:</h2>
<ul class="list-disc list-inside mt-4">
    {{#foreach Item in Items}}
    <li>{{ Item }}</li>
    {{/foreach}}
</ul>
{{/if}}
</body>
</html>
